.cart {
  display: flex;
  align-items: center;
}

.cartButton {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cartCount {
  margin-left: 5px;
}
