.table {
  width: 100%;
  margin: 0 -1px 24px 0;
  border: 1px solid var(--border-color);
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
}

.table thead {
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  color: #fff;
}

.table th {
  padding: 0.7em 1em;
}

.thumbnail {
  min-width: 32px;
  width: 100px;
}

.subtotal {
  padding-right: 3em;
}

@media screen and (min-width: 922px) {
  .cartRemove {
    position: absolute;
    top: 50%;
    right: 0;
    border-top: 0 !important;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 921px) {
  .table thead {
    display: none;
  }
}
